@charset "utf-8";
/*CSS Document */
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
  margin:0;
  padding:0;
}
*{
  padding:0;
  margin:0;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  font-family:"微软雅黑";
}
img{
  display: block;
  border:none;
}
input{
  outline:none;
  border:none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color:#000;
}
html{
  font-size: 26.67vw;
}

.shopcart-product{
  width: 100%;
  height: 4rem;
  background-color: #fff;
}
.shopcart-product-part{
  width: 100%;
  height: .4rem;
}
.shopcart-product-part span{
  margin:.18rem 0 .07rem .15rem;
  font-size: .15rem;
  float: left;
}
.shopcart-product-box{
  width: 3.44rem;
  padding: .15rem .15rem;
  float: left;
  background-color: #fff;
}
.shopcart-product-img-box{
  width: .69rem;
  height: 1.32rem;
  float: left;
}
.shopcart-product-img-box img{
  width: .69rem;
  height: .86rem;
}
.shopcart-product-info-box{
  width: 1.8rem;
  margin: 0 .06rem;
  float: left;
}
.shopcart-product-info-box h3{
  font-size: .13rem;
  color:#404040;
}
.shopcart-product-price-box{
  width: .53rem;
  height: .86rem;
  float: left;
}
.shopcart-product-brand{
  font-size:.11rem;
  color:#a8a8a8;
  margin-top: .08rem;
}
.shopcart-product-size{
  font-size:.10rem;
  color:#a8a8a8;
  margin: .06rem 0;
}
.shopcart-product-decrease{
  font-size:.11rem;
  color:#ed3198;
  padding: .04rem .05rem;
  border:2px solid #ed3198;
  border-radius: .02rem;
}
.shopcart-product-price-box{
  text-align: right;
}
.shopcart-product-price-box h3{
  color:#303030;
  font-size: .11rem;
}
.shopcart-product-price-box h4{
  color:#97979e;
  font-size: .09rem;
  text-decoration: line-through;
}
.shopcart-product-num-box{
  width: 100%;
  line-height: .3rem;
  font-size: .13rem;
  color:#82868e;
  margin-top: .05rem;
  padding-bottom: .2rem;
  box-sizing: border-box;
  float: right;
  border-bottom: 1px dashed #d8e0f0;
}
.shopcart-product-nums{
  margin-left: .75rem;
}
.shopcart-product-nums a{
  text-decoration: none;
}
.shopcart-product-num-box .icon-add,.shopcart-product-num-box .icon-MINUS{
  padding:.05rem .13rem;
  border:1px solid #ebebeb;
}
.shopcart-product-num-box .icon-add{
  border-top-left-radius: .03rem;
  border-bottom-left-radius: .03rem;
}
.shopcart-product-num-box .icon-MINUS{
  border-top-right-radius: .03rem;
  border-bottom-right-radius: .03rem;
}
.shopcart-product-num-box .shopcart-product-num{
  width: .1rem;
  padding:.05rem .13rem;
}
.shopcart-product-price-box .icon-close-icon{
  font-size: .15rem;
}
.shopcart-product-nums .icon-close-icon{
  margin-left: 0.7rem;
}
.shopcart-product-nums .totalMoneyCount{
  width: 100%;
  height: .3rem;
  line-height: .3rem;
  font-size:.14rem;
}
.shopcart-product-nums .totalMoneyCount .totalMoneyCountSpan{
  float:right;
  margin-right:.02rem;
  color:#e80080;
}
.icon-close-icon{
  font-size:13px;
}
